body {
		font-family: 'Helvetica', 'sans-serif';
		width: 800px;
		margin: 10px auto;
}

pre {
		font-family: 'Monaco', 'monospace';
}

table {
		width: 100%;
		border-collapse: collapse;
		margin: 10px 0px;
}

td {
		border: 1px solid black;
		padding: 10px;
		overflow-x: scroll;
}

td:nth-child(1) {
		width: 100px;
}
td:nth-child(2) {
		width: 100px;
}
td:nth-child(3) {
		max-width: 300px;
}
td:nth-child(4) {
		max-width: 300px;
}
